---
import Layout from "Layout.astro";

import Experience from "@/components/sections/Experience.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Hero from "@/components/sections/Hero.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Hobies from "@/components/sections/Hobies.astro";
import Knowledge from "@/components/sections/Knowledge.astro";
---

<Layout title="Juan_Lebenslauf">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Knowledge />
    <Hobies />
  </main>

  <KeyboardManager />
</Layout>

<style>
  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
